:root{
    --pal1-background-color: #47403B;
    --pal2-background-color: #8B827D;
    --pal3-background-color: #BEBAB3;
    --pal4-background-color: #F6F5F1;
    --pal5-background-color: #e1cda3;

    --navbar-background-color: #f2f2f2;
    --navba-background-color: #cca561;
    --navbar-item-hovered-color:white;
    --navbar-separator-color:#ececec;
    --navbar-icon-color:#646c79;
    --navbar-text-color:black;
    --navbar-transition-speed: .2s;
    --navbar-logo-background-color:#e2dfe4;
    --vin: #b8af00;
    --qua: #e17055;
    --soixante: rgb(22, 152, 2);
    --quvin: blue;
    --centt: rgb(186, 0, 183);
  }

  html{
    color: var(--pal1-background-color);
    scroll-behavior: smooth;
    width: 100%;
    height: 100%;
    background: var(--pal5-background-color);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
  }

  body{
    font-family: 'Josefin Sans', sans-serif;
    font-size:16px;
    height: 100%;
  }

  #fullpage{
    height: 100vh;
    overflow: hidden;
  }

  #fullpage section{
    height: 100vh;
  }

  .navbar{
    width:5rem;
    position:fixed;
    z-index: 1;
    top:0px;
    left:0px;
    bottom:0px;
    background:var(--navbar-background-color);
    box-shadow: rgba(12,43, 30, 0.2) 0 4px 14px;
    font-weight: bold;
    transition: var(--navbar-transition-speed) ease;
  }
  
  .navbar:hover{
    width:15rem;
  }

  .navbar-menu{
    list-style: none;
    padding:0;
    margin:0;
    display:flex;
    flex-direction: column;
    align-items: center;
    height:100%;
  }
  
  .navbar-item{
    width: 100%;
    border-bottom:solid 1px var(--navbar-separator-color);
    transition:  var(--navbar-transition-speed);
  }
  
  .navbar-item_2{
    width: 100%;
    background:var(--navba-background-color);
    border-bottom:solid 1px var(--navbar-separator-color);
    transition: var(--navbar-transition-speed);
  }

  .navbar-item:hover, .navbar-item_2:hover{
    background-color:var(--navbar-item-hovered-color);
  }

  .navbar-link{
    display:flex;
    align-items: center;
    justify-content: flex-start;
    height:5rem;
    width:100%;
    text-decoration: none;
  }
  
  .navbar-icon{
    text-align: center;
    font-size: 1.5rem;
    min-width: 35px;
    min-height: 35px;
    margin: 0 1.5rem;
    color: var(--navbar-icon-color);
    transition: var(--navbar-transition-speed);
  }
  
  .navbar-item img, .navbar-item_2 img{
    width: 35px;
    height: 35px;
  }

  .navbar-title{
    color:var(--navbar-text-color);
  }
  
  .navbar:not(:hover) .navbar-title{
    display:none;
  }
  
  .logo {
    background:var(--navbar-logo-background-color);
  }
  
  .logo .navbar-title{
    font-size:1.5rem;
    font-weight:bold;
    margin-left:1.5rem;
  }
  
  .navbar:hover .logo .navbar-icon{
    transform:rotate(180deg);
  }
  
  section{
    display: flex;
    justify-content: center;
    margin-left: 6%;
    margin-right: 2%;
  }

  #Home{align-items: center; }
  #Proficiency{align-items: center;}
  #Pro_Exp{align-items: center;}
  #XP_Pro{align-items: center;}

  .D_Home{
    margin: 1%;
    background: var(--pal4-background-color);
    font-size: 22px;
    border-radius: 20px;
    padding: 30vh 50vh 30vh 50vh;
    border: 2px solid var(--pal2-background-color);
  }
  
  .D_Quali{
    margin: 1%;
    font-size: 22px;
    border-radius: 20px;
    padding-top: auto;
    padding-bottom: auto;
    padding-left: 10px;
    padding-right: 10px;
    border: 2px solid var(--pal2-background-color);
    background: var(--pal4-background-color);
  }

  .D_Profi{
    margin: 1%;
    font-size: 22px;
    border-radius: 20px;
    padding-top: auto;
    padding-bottom: auto;
    padding-left: 10px;
    padding-right: 10px;
    background: var(--pal4-background-color);
    padding: 20px 20px 20px 20px;
    border: 2px solid var(--pal2-background-color); 
  }

  .D_Pro{
    margin: 1%;
    font-size: 22px;
    border-radius: 20px;
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 10px;
    padding-right: 10px;
    border: 2px solid var(--pal2-background-color);
    background: var(--pal4-background-color);
  }

  .D_Perso{
    margin: 1%;
    font-size: 22px;
    border-radius: 20px;
    padding-top: auto;
    padding-bottom: auto;
    padding-left: 10px;
    padding-right: 10px;
    border: 2px solid var(--pal2-background-color);
    background: var(--pal4-background-color);
  }

  .D_Xp{
    margin: 1%;
    font-size: 22px;
    border-radius: 20px;
    padding-top: auto;
    padding-bottom: auto;
    padding-left: 10px;
    padding-right: 10px;
    border: 2px solid var(--pal2-background-color);
    background: var(--pal4-background-color);
  }

  .D_Home{
    align-items: center;
    font-size: 30px;
    display: flex;
    flex-direction: column;
  }

  .Home_D1{
    margin-bottom: 4%;
    font-size: 35px;
  }

  .Home_D3{
    display: flex;
    align-items: center;
    margin-bottom: 5%;
  }

  .Home_D3_D1{
    padding-right: 20px;
  }

  .Home_D3_D1 img{
    width: 50px;
    height: 50px;
  }

  .Quali_D1{
    border-radius: 20px;
    padding: 40px 20px 40px 20px;
    text-align: center;
    font-size: 40px;
  }

  .Quali_D2{
    border: 2px solid var(--pal2-background-color);
    border-radius: 20px;
    padding: 20px 20px 20px 20px;
    background: var(--pal3-background-color);
  }

  .Quali_D1 img{
    width: 100px;
    height: 100px;
  }
  
  .Quali_D3{
    display: flex;
    margin-top: 5%;
    justify-content: center;
  }

  .Quali_D3_D1{
    border: 2px solid var(--pal2-background-color);
    padding: 4px;
  }

  .Profi_D1 {
    width: fit-content;
    border: 2px solid var(--pal2-background-color);
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    background-color: var(--pal5-background-color);
  }

  .Pro_D1 img{
    width: 80px;
    height: 80px;
  }

  .Perso_D1 img{
    width: 80px;
    height: 80px;
  }

  .Profi_D2_D1{
    font-size: 22px;
  }

  #D2_Pourcen{
    color: #ffffff;
  }

  .Profi_D2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 800px;
  }

  .ser{
    padding: 20px;
    max-width: fit-content;
  }
  
  .progressbar-wrapper {
    background-color: #dfe6e9;
    color: white;
    border-radius: 5px;
    width: 250px;
    height: 20px;
  }
  
  .DDDD{
    position: absolute;
    margin-bottom: 40%;
  }

  .D2_Profi{
    display: flex;
    flex-direction: column;
    margin-bottom: 5vh;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
  }


  .ta{
    font-size: 20px;
  }

  .p1, .p2, .p3, .p4, .p5, .p6, .p7, .p8, .p9, .p10{
    height: 20px;
    border-radius: 4px;
    font-size: 20px;
  }

  .p1{background-color: var(--qua); width: 40%;}
  .p2{background-color: var(--qua); width: 40%;}
  .p3{background-color: var(--qua); width: 40%;}  
  .p4{background-color: var(--qua); width: 40%;}
  .p5{background-color: var(--centt); width: 100%;}
  .p6{background-color: var(--qua); width: 40%;}
  .p7{background-color: var(--soixante); width: 60%;}
  .p8{background-color: var(--qua); width: 40%;}
  .p9{background-color: var(--soixante); width: 60%;}
  .p10{background-color: var(--quvin); width: 80%;}

  .p1 p, .p2 p, .p3 p, .p4 p, .p5 p, .p6 p, .p7 p, .p8 p, .p9 p, .p10 p{
    font-size: 15px;
    color: white;
    padding: 4px;
  }

  .Pro_C1{
    display: flex;
    text-align: center;
  }

  .D_Pro{
    text-align: center;
    font-size: 20px;
  }

  .Pro_D2{
    border: 2px solid var(--pal2-background-color);
    padding: 20px 4px 100px 4px;
    margin: 4px;
    border-radius: 20px;
    background-color: var(--pal3-background-color);
  }

  .Pro_D3{
    border: 2px solid var(--pal2-background-color);
    padding: 20px 4px 100px 4px;
    margin: 4px;
    border-radius: 20px;
    background-color: var(--pal4-background-color);
  }

  .Pro_D4{
    border: 2px solid var(--pal2-background-color);
    padding: 20px 4px 100px 4px;
    margin: 4px;
    border-radius: 20px;
    background-color: var(--pal5-background-color);
  }

  #Pro_Title{
    margin-top: 10px;
  }

  #Pro_Table{
    font-size: 15px;
    padding: 1%;
    margin-bottom: 10px;
  }

  #Pro_Table table{
    border-collapse: collapse;
  }

  #Pro_Table td{
    border: 2px solid var(--pal2-background-color);
    padding: 4px;
    text-align: left;
  }

  #Pro_Title_M{
    font-size: 18px;
    margin-top: 80px;
  }

  #Pro_Text{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    
  }

  #Xp_Title{
    padding-top: 20px;
  }

  .D_Xp{
    text-align: center;
  }

  .Xp_D1{
    border: 2px solid var(--pal2-background-color);
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
    background-color:  var(--pal3-background-color);
  }

  .Xp_D2{
    border: 2px solid var(--pal2-background-color);
    padding: 20px;
    border-radius: 20px;
    margin: 20px;
    margin-top: 10%;
    background-color:  var(--pal4-background-color);
  }

  .Perso_D2{
    display: flex;
    text-align: center;
  }

  .Perso_Tableau{
    text-align: center;
    margin-bottom: 30px;
    padding: 10px;
    color: rgb(0, 0, 0);
  }

  .Perso_D2_D{
    padding: 10px;
    border: 2px solid var(--pal2-background-color);
    padding: 2px 2px 20% 2px;
    margin-left: 5px;
    border-radius: 10px;
    min-width: 400px;
    max-width: 400px;
    background-color:  var(--pal3-background-color);
  }

  .Perso_C1{
    background-color:  var(--pal4-background-color);
    border-radius: 10px;
    padding: 8px;
    margin: 10px;
  }

  .Perso_D3{
    margin-top: 2%;
    display: flex;
    flex-direction:column;
    align-items: center;
  }

  .Perso_D3_D1{
    margin-bottom: 20px;

  }

  .Perso_D3_D2{
  background-color:  var(--pal3-background-color);
  width: fit-content;
  padding: 10px;

  }

 .icone{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 2px solid var(--pal2-background-color);
    box-sizing: border-box;
    height: 120%;
    width: 100%;
    background-color: rgb(48, 48, 48);
    z-index: 1;
    animation-delay: 4s;
  }

  .ZZZZZ button{
    z-index: 1;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #e17055;
    border-radius: 10px;
    width: 100px;
    height: 30px;
    transition: 0.5s;
  }

  .ZZZZZ a{
    text-decoration: none;
    color: white;
    font-size: 18px;
  }

  .ZZZZZ button:hover{
    background-color: #ebcfa0;
    transition: 1s;
    opacity: 0.5;
  }
  

  .icone path:nth-child(1){
      stroke-dasharray: 1500px;
      stroke-dashoffset: 1500px;
      animation: anim 3s ease forwards;

  }

  .icone path:nth-child(2){
      stroke-dasharray: 2500px;
      stroke-dashoffset: 2500px;
      animation: anim 3s ease forwards;
  }

@keyframes loader-ut{
    
  70% 
  {
    opacity: 1;
  }

  80% 
  {
    opacity: 0.5;
  }

  90% 
  {
    opacity: 0.2;
  }
  
  100% 
  {
    opacity: 0;
  }

}

@keyframes rotate {
 
  0% 
  {
    transform: rotate(0deg);
  }

  100% 
  {
    transform: rotate(360deg);
  }
  
}

@keyframes animate{
  
  0%,100%
  {
    stroke-dashoffset: 440;
 
  }
 
  50%
  {
    stroke-dashoffset: 0;
 
  }
  
  50.1%
  {
    stroke-dashoffset: 880;
  }

}

@keyframes anim{
  
  to
  {
    stroke-dashoffset: 0;
  }

}


@media only screen and (max-width:1024px){
  
  #Home, #Qualification, #Proficiency, #Pro_Exp, #Perso_Exp, #XP_Pro{
    margin-left: 0%;
    min-height: 60vh;
  }

  #Home{
    margin-top: 10%;
  }
  main{
    margin-bottom:5rem;
  }

  .navbar{
    bottom:auto;
    width:100%;
    top:0px;
  }

  .navbar:hover{
    width:100%;
  }

  .navbar-menu{
    flex-direction: row;
  }

  .logo{
    display:none;
  }
  
  .navbar:hover .navbar-title{
    display:none;
  }

  .navbar-icon{
    min-width:auto;
    margin:0;
  }

  .navbar-item_2{
    margin-top: 0%;
  }

  .navbar-link{
    justify-content: center;
  }

}